<!-- <ng-template #content let-modal> -->
    <div class="modal-header bg-primary text-white">
      <h4 class="modal-title" id="modal-basic-title">Details update</h4>
      <button type="button" class="close" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group" style="height: 80px">
          <label for="Username">Username</label>
          <input type="text"
                 class="form-control"
                 name="username"
                 formControlName="username">
                 <!-- [(ngModel)]="username" -->
                 
      </div>
     <div></div>
      <div class="form-group" style="height: 80px">
          <label for="email">Email</label>
          <input type="text" class="form-control" 
          id="email"
          formControlName="email">
      </div>
      <div class="form-group" style="height: 60px">
          <label for="gender">Gender</label>
          <div class="max-auto" style="width: 300px">
              <label for="male" class="radio-inline"><input type="radio" name="gender" value="male" id="male" formControlName="gender" style="width: 30px">Male</label>
              <label for="female" class="radio-inline"><input type="radio" name="gender" value="female" id="female" formControlName="gender" style="width: 30px">Female</label>
              <label for="others" class="radio-inline"><input type="radio" name="gender" value="others" id="others" formControlName="gender" style="width: 30px">Others</label>
          </div>
      </div>
  
      <div class="form-group" style="height: 80px">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" 
          formControlName="phone" id="phone">
      </div>
      <div class="form-group" style="height: 80px">
          <label for="Password">Password</label>
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 name="password">
                 <!-- [(ngModel)]="password" -->
                 
      </div>
  
      <div class="form-group" style="height: 80px">
          <label for="ConfirmPassword">Confirm Password</label>
          <input type="password"
                 class="form-control"
                 name="confirmPassword"
                 formControlName="confirmpassword">
      </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark">Save</button>
    </div>
<!-- </ng-template> -->
<!-- (click)="modal.close('Save Click')" -->




